.aj-accordion-wrapper {
     width: 100%;
}

.aj-accordion-header {
     display: flex;
     gap: var(--spacing8);
     align-items: center;
     justify-content: space-between;

     padding: var(--accordion-headerPaddingVertical) var(--accordion-headerPaddingHorizontal);
     padding-right: var(--spacing4);
     background: var(--accordion-headerOpenedBgClr);

     border-radius: var(--accordion-headerCornerRadius) var(--accordion-headerCornerRadius) 0 0;
     transition: 0.3s ease-out border-radius;
     cursor: pointer;

     outline: 1.5px solid var(--accordion-headerOutlineClr);
}

.aj-accordion-header:hover {
     background: var(--accordion-headerHoverBgClr);
}

.aj-accordion-wrapper.collapsed .aj-accordion-header {
     border-radius: var(--accordion-headerCornerRadius) var(--accordion-headerCornerRadius);
     background: var(--accordion-headerBgClr);
}

.aj-accordion-header-inner {
     flex-grow: 1;
}

.aj-accordion-content {
     background: var(--accordion-contentBgClr);
     padding: var(--accordion-contentPaddingVertical) var(--accordion-contentPaddingHorizontal);
     border-radius:  0 0 var(--accordion-headerCornerRadius) var(--accordion-headerCornerRadius);
     border: 1.5px solid var(--accordion-contentOutlineClr);
}

.aj-accordion-header-icon {
     transform: rotateZ(180deg);
     transition: 0.4s ease-out transform;
}

.aj-accordion-wrapper.collapsed .aj-accordion-header-icon {
     transform: rotateZ(0deg)
}